
  <div class="center jumbotron">
    <h1>In a world  where things are unfair, one project changes it all</h1>

  <h2>SuPragma</h2>
   <h3> To know more about us visit our help page or click the sign up button
  </h3>

  <%= link_to "Sign up now!", 'signup_path', class: "btn btn-lg btn-primary" %>
  
<h4> or follow us on your favorite social media!
  </h4>
  <%= link_to "Facebook", '#', class: "btn btn-sm btn-primary" %>
  <%= link_to "Twitter", '#', class: "btn btn-sm btn-primary" %>
  
</div>
<%= link_to image_tag("supragma.png", alt: "logo", width: "800"),
                      "https://github.com/supragma/" %>
