<footer class="footer">
  <small>
    The <a href="https://www.supragma.com/">Website</a>
  </small>
  <nav>
    <ul>

      <li><%= link_to "Reach us", '#' %></li>
      
    </ul>
  </nav>
</footer>